:root {
    --main: #042f4b;
    --dusk: #16232e;
    --dark: #1e2d49;
    --gray: #60768a;
    --alt: #2957a2;
    --altbck: #fff;
    --bck: #f1faff;
    --hl: #4e8ae4;
    --link: #042f4bd1;
    --coral: #ffb6b9;
    --foam: #b0f4e6;
    --lime: #c7f0db;
    --nav: #769fcd;
    --sfish: #12d3cf;
    --soft: #d6e6f2;
    --shore: #8ac6d1;
    --hover: var(--alt);
    --grad: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    --anim: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    --shad: 0 14px 28px rgb(8 61 108 / 25%), 0 10px 10px rgb(30 105 235 / 22%);
    --font:
        "Jost", "Helvetica Neue", "Source Sans Pro", -apple-system,
        BlinkMacSystemFont, sans-serif;
}

@font-face {
    font-family: "Jost";
    src:
        url("https://indestructibletype.com/fonts/Jost-300.ttf")
            format("truetype"),
        url("https://indestructibletype.com/fonts/Jost-400.ttf")
            format("truetype"),
        url("https://indestructibletype.com/fonts/Jost-700.ttf")
            format("truetype");
    font-display: auto;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    transition: var(--anim);
    font-family: var(--font);
    font-size: 16px;
    word-spacing: 0.7px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    font-family: "Jost";
    background: var(--altbck);
    transition: var(--anim);
    max-width: 100%;
    overflow-x: hidden;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#__layout {
    overflow: hidden;
    animation: fadein 2s;
}

.container {
    transition: var(--anim);
    padding: 0 11vw 0 11vw;
    margin: 0 auto;
    justify-content: left;
}

.divider {
    width: 27%;
    height: 3.5px;
    background-color: var(--sfish);
    margin: 25px 0;
    border-radius: 5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.underline {
    position: relative;
}

.underline:hover::after {
    transform: scale(1);
}

.underline::after {
    background-color: var(--foam);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 50% 100%;
    transform: scaleY(0.2);
    transition: transform 0.3s;
    will-change: transform;
    z-index: -1;
}

/* Navigation Styles */
.wave {
    z-index: -1;
    transform: rotate(346deg);
    width: 126%;
    position: absolute;
    right: -1000px;
    top: -450px;
}

.nav-content {
    padding: 2.847vw 11vw;
    display: flex;
    align-items: inherit;
    justify-content: flex-start;
}

.nav-content img {
    width: 2rem;
}

.nav-content ul {
    display: flex;
    align-items: center;
}

.nav-content ul li {
    color: var(--main);
    font-weight: 800;
    font-size: 1.3em;
}

.nav-content ul li a {
    transition: var(--anim);
    color: var(--main);
    padding: 3px 10px;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

.nav-content ul li span {
    transition: var(--anim);
    color: var(--sfish);
}

.nav-content ul li span:nth-child(2) {
    color: transparent;
}

.nav-content ul li a:hover {
    position: relative;
    border-bottom: 3px solid var(--soft);
    color: var(--hl);
}

.nav-content ul li a:hover span {
    opacity: 0;
}

/* Home Page / Intro Styles */
.intro {
    font-family: var(--font);
    display: block;
    font-weight: 700;
    font-size: 70px;
    color: var(--main);
    letter-spacing: 1px;
}

.intro span {
    display: block;
    font-weight: 300;
    color: var(--hl);
}

.content {
    padding-top: 5.35vw;
    max-width: 1200px;
    margin-bottom: 0;
}

.content h2 {
    font-weight: 300;
    letter-spacing: 0.7px;
    font-size: 31px;
    color: var(--gray);
    word-spacing: 0.5px;
}

.content h2 a {
    transition: var(--anim);
    color: var(--main);
    font-weight: 700;
}

/* Work Section */
.mobile h1 {
    padding: 8vw 11vw 0vw 11vw;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: var(--main);
}

/* Job Entry Styles */
.jobs {
    margin: 0 0 5vw 0;
    transition: var(--anim);
}

.entry {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr 1fr 0.3fr 0.5fr 0.3fr;
    grid-column-gap: 35px;
    grid-row-gap: 10px;
    padding: 2.5vw 11vw 2.5vw 11vw;
    width: 100%;
    margin: auto;
    transition: var(--anim);
}

.entry .name {
    grid-area: 1 / 1 / 2 / 3;
}

.entry .details {
    grid-area: 2 / 1 / 3 / 3;
}

.entry .bar {
    grid-area: 3 / 1 / 4 / 3;
}

.entry .tools {
    grid-area: 4 / 1 / 5 / 3;
}

.entry .link {
    grid-area: 5 / 1 / 6 / 3;
}

.entry .pic {
    grid-area: 1 / 3 / 6 / 6;
}

.entry p {
    color: var(--gray);
    font-size: 25px;
    letter-spacing: 0.5px;
}

.pic {
    justify-self: right;
    display: grid;
    align-items: center;
    cursor: default;
    overflow: visible;
}

.pic img {
    justify-self: right;
    max-width: 650px;
    box-shadow: var(--shad);
    border-radius: 5px;
    will-change: transform;
    transform-origin: center center;
}

.name {
    -webkit-transition: opacity 0.6s 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: opacity 0.6s 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.name h3 {
    font-size: 2.7rem;
}

.name h3 a {
    color: var(--main);
    font-weight: bolder;
}

.link a {
    transition: var(--anim);
    position: relative;
    display: inline-block;
    padding: 0.7em 2em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: white;
    font-size: 1.2em;
}

.link a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #06bcfb;
    background-image: linear-gradient(315deg, #76c2e4 0%, #5a92e6 74%);
    border-radius: 4px;
    transition: box-shadow 0.5s ease, transform 0.2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0) rotateX(0) rotateY(0) translateZ(-12px);
}

.link a:hover::before {
    box-shadow: 0 5px 15px rgba(100, 143, 206, 0.7);
}

.link a::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform 0.2s ease;
    font-weight: bold;
    letter-spacing: 0.01em;
    will-change: transform;
    transform: translateY(0) rotateX(0) rotateY(0);
}

/* Contact Section */
.contact-container {
    margin: 150px 0 250px 0;
}

.contact-container h1 {
    font-size: 2.5rem;
    color: var(--main);
}

.contact-container h2 {
    padding-top: 25px;
}

.contact-container a {
    color: var(--main);
}

/* Footer Styles */
.footer {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    position: relative;
    bottom: 0px;
    padding-bottom: 75px;
    color: var(--gray);
}

.footer img {
    transform: rotate(180deg);
    position: absolute;
    top: -223px;
    right: 100px;
    width: 1800px;
}

/* Responsive Styles */
@media (min-width: 1050px) and (max-width: 1560px) {
    .entry {
        padding: 2.5vw 11vw;
    }

    .entry .name {
        display: grid;
        align-items: flex-end;
        padding-bottom: 25px;
    }

    .pic {
        justify-self: center;
    }

    .pic img {
        max-width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 1050px) {
    .nav-content {
        padding: 5.847vw 11vw;
    }

    .divider {
        margin: 0;
    }

    .entry {
        margin-bottom: 75px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 0fr 0.3fr 0.5fr 0.3fr repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .entry .name {
        grid-area: 1 / 1 / 2 / 4;
        display: grid;
        align-items: center;
    }

    .entry .details {
        grid-area: 2 / 1 / 3 / 4;
        display: grid;
        align-items: center;
    }

    .entry .bar {
        grid-area: 3 / 1 / 4 / 4;
        display: grid;
        align-items: center;
    }

    .entry .tools {
        grid-area: 4 / 1 / 5 / 4;
        display: grid;
        align-items: center;
    }

    .entry .link {
        grid-area: 5 / 1 / 6 / 4;
    }

    .entry .pic {
        grid-area: 6 / 1 / 8 / 4;
        justify-self: start;
    }

    .entry .pic img {
        margin-top: 50px;
    }

    .jobs {
        margin: 0;
    }

    .pic {
        justify-self: start;
    }

    .pic img {
        max-width: 100%;
    }
}

@media (min-width: 300px) and (max-width: 850px) {
    .container {
        padding-top: 2.5em;
    }

    .intro {
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.7px;
    }

    .intro span {
        font-weight: 400;
        font-size: 52px;
    }

    .content {
        padding-top: 12.35vw;
    }

    .nav-content ul li a {
        font-size: 20px;
        padding: 0 5px;
    }

    .nav-content ul li a:hover span {
        color: var(--main);
    }

    .wrapper {
        display: none;
    }
}

@media (min-width: 200px) and (max-width: 500px) {
    .nav-content {
        justify-content: flex-start;
        padding: 5vw 5vw;
    }

    .nav-content ul {
        padding: 0px;
    }

    .nav-content ul li a {
        font-weight: 600;
        font-size: 17px;
    }

    .mobile h1 {
        padding: 16vw 11vw 0vw 11vw;
    }

    .divider {
        margin: 0;
    }

    .entry {
        margin-bottom: 75px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.3fr 1fr 0.3fr 0.5fr 0.3fr repeat(1, 1fr);
        grid-column-gap: 0px;
    }

    .entry .name {
        grid-area: 1 / 1 / 2 / 4;
        display: grid;
        align-items: center;
    }

    .entry .details {
        grid-area: 2 / 1 / 3 / 4;
        display: grid;
        align-items: center;
    }

    .entry .bar {
        grid-area: 3 / 1 / 4 / 4;
        display: grid;
        align-items: center;
    }

    .entry .tools {
        grid-area: 4 / 1 / 5 / 4;
        display: grid;
        align-items: center;
    }

    .entry .link {
        grid-area: 5 / 1 / 6 / 4;
    }

    .entry .pic {
        grid-area: 6 / 1 / 7 / 4;
        justify-self: start;
    }

    .entry .pic img {
        margin-top: 50px;
    }

    .jobs {
        margin: 0;
    }

    .pic {
        justify-self: start;
    }

    .pic img {
        max-width: 100%;
    }
}
